{% extends 'base.html' %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action="/trainers/list-trainers/" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Profesores" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block title %}
    Listado de Profesores
{% endblock %}

{% block content %}

    <h1><u>Listado de Profesores</u></h1>
    <br>
    <br>
    <form action="/trainers/add-trainer/">
        <input type="submit" value="Agregar Profesores" />
    </form>
    <br>
    <!--<h2>Crear nuevo producto </h2> <a href="/products/create-product/" class="btn btn-primary">Crear</a>
    -->{% for trainer in trainers %}


        <div class="card" style="width: 18rem;">
            <img src="https://www.pngkey.com/png/full/833-8337681_personal-trainer-icon.png" alt="imagen de profesor" class="card-img-top" height="200">
            <div class="card-body">
            <h5 class="card-title">{{trainer.name}} {{trainer.last_name}}</h5>
            {% if trainer.free == True %}
                <p>Este profesor esta libre para dar clases</p>
            {% else %}
                <p>Actualmente, este profesor esta dando clases</p>
            {% endif %}
            <a href="/trainers/update-trainer/{{trainer.pk}}/" class="btn btn-primary">Actualizar</a>
            <a href="/trainers/delete-trainer/{{trainer.pk}}/" class="btn btn-danger">Borrar</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}