{% extends 'base.html' %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action="/trainers/list-trainers/" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Profesores" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block title %}
    Listado de Profesores
{% endblock %}

{% block content %}

    <center><h1><u>Listado de Profesores</u></h1></center>
    <br>
    <br>
    <form action="/trainers/add-trainer/">
        <input id="button" class="btn btn-success" type="submit" value="Agregar Profesores" />
    </form>
    <br>
    {% for trainer in trainers %}
        <center>
            <div class="card" style="width: 12rem; float: left;">
                <img src="https://www.pngkey.com/png/full/833-8337681_personal-trainer-icon.png" alt="imagen de profesor" class="card-img-top" height="150">
                <div class="card-body">
                <h5 class="card-title">{{trainer.first_name}} {{trainer.last_name}}</h5>
                <h5 class="card-title">Este Profesor/ra enseña:<b> {{trainer.teaches}}</b></h5>
                {% if trainer.is_free == False %}
                    <h5 class="card-title">Cupo de Clases lleno</b></h5>
                {% else %}
                    <h5 class="card-title">Cupo de Clases disponible</b></h5>
                {% endif %}
                <a href="/trainers/update-trainer/{{trainer.pk}}/" id="button" class="btn btn-primary"">Detalle</a>
                <a href="/trainers/delete-trainer/{{trainer.pk}}/" id="button" class="btn btn-danger">Borrar</a>
                </div>
            </div>
        </center>
    {% endfor %}

{% endblock %}