{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <h1 id="background_fonts"><center>Bienvenido a Nuestro centro de Entrenamiento</center></h1>
    {% if request.user.is_authenticated %}
        {% if message %}
        <br><br>
            <center><h2 id="background_fonts">{{message}}</h2></center>
        {% endif %}
    {% else %}
        <br><br><br>
        <h5 id="background_fonts"><center>Aún no esta logueado. Por favor Ingrese para conocer nuestros Planes!!</center></h5>
    {% endif %}
    
{% endblock %}