{% extends 'base.html' %}

{% block title %}
    Detalles del Usuario
{% endblock %}

{% block content %}        
    <center><h1>Detalles del Usuario</h1></center>
    {% if user.is_authenticated %}
        <div align="center">
            <div class="card" style="text-align: left; background-color: rgba(189, 179, 179, 0.404); width: 33rem;">
                <h3><u>Username:</u> <b>{{user.username}}</b></h3>
                <h3><u>Nombre:</u> <b>{{user.first_name}}</b></h3>
                <h3><u>Apellido:</u> <b>{{user.last_name}}</b></h3>
                <h3><u>Telefono:</u> <b>{{user.profile.phone}}</b></h3>
                <h3><u>Fecha de Nacimiento:</u> <b>{{user.profile.birth_date}}</b></h3>
                {% if user.profile.profile_picture %}
                    <h3><u>Foto de Perfil:</u> <img src={{user.profile.profile_picture.url}} width="50px" height="50px"></b></h3>
                {% else %}
                    <h3><u>Foto de Perfil:</u> <img alt="Sin Foto" width="50px" height="50px"></b></h3>
                {% endif %}
            </div>
                <a href="/users/update/" id="button" class="btn btn-success">Cambiar Datos</a>
                <a href="/users/update/profile/" id="button" class="btn btn-primary">Datos de Perfil</a>
                <a href="/" id="button" class="btn btn-secondary">Volver</a>
        </div>
    {% endif %}
{% endblock %}