{% extends 'base.html' %}

{% block title %}
    Confirmacion de borrado
{% endblock %}

{% block content %}
    <center>
        <h2>Esta a punto de eliminar al cliente</h2>
        <p>Seguro que desea eliminar a este cliente?</p>
        
        {% if form %}
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input id="button" type="submit" class="btn btn-danger" value="Borrar">
                <a href="/clients/list-clients/" id="button" class="btn btn-secondary">Volver</a>
            </form>
        {% endif %}

        {% if form_errors %}
            <h2 style="color: red;" >Errores:</h2>
            {{form_errors}}
        {% endif %}

        {% if message %}
            <h2 style="color: green;" >{{message}}</h2>
        {% endif %}
    </center>
    
{% endblock %}