{% extends 'base.html' %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action="/clients/list-clients/" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Cliente" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block title %}
    Listado de Clientes
{% endblock %}

{% block content %}

    <h1><u>Listado de Clientes</u></h1>
    <br>
    <br>
    <form action="/clients/add-client">
        <input type="submit" value="Agregar Cliente" />
    </form>
    <br>
    <!--<h2>Crear nuevo producto </h2> <a href="/products/create-product/" class="btn btn-primary">Crear</a>
    -->{% for client in clients %}


        <div class="card" style="width: 18rem;">
            <img src="https://cdn-icons-png.flaticon.com/512/55/55314.png" class="card-img-top" alt="imagen de cliente" height="200">
            <div class="card-body">
            <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
            <p class="card-text">Fecha de Nacimiento: <b>{{client.birth_date}}</b></p>
            <a href="/clients/update-client/{{client.pk}}/" class="btn btn-primary">Actualizar</a>
            <a href="/clients/delete-client/{{client.pk}}/" class="btn btn-danger">Borrar</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}