{% extends 'base.html' %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action="/clients/list-clients/" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Cliente" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block title %}
    Listado de Clientes
{% endblock %}

{% block content %}

    <center><h1><u>Listado de Clientes</u></h1></center>
    <br>
    <br>
    <form action="/clients/add-client">
        <input id="button" class="btn btn-success" type="submit" value="Agregar Cliente" />
    </form>
    <br>
    {% for client in clients %}
        <center>
            <div class="card" style="width: 10rem; float: left;">
                <img src="https://static.vecteezy.com/system/resources/previews/005/129/844/original/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" class="card-img-top" alt="imagen de cliente" height="150">
                <div class="card-body">
                <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
                <p class="card-text">Fecha de Nacimiento: <b>{{client.birth_date}}</b></p>
                <a href="/clients/update-client/{{client.pk}}/" id="button" class="btn btn-primary">Detalle</a>
                <a href="/clients/delete-client/{{client.pk}}/" id="button" class="btn btn-danger">Borrar</a>
                </div>
            </div>
        </center>
    {% endfor %}

{% endblock %}